/*HEADER*/
.header-container {
  position: initial;
}
.left-menu {
  position: fixed;
  background-image: linear-gradient(
    90deg,
    rgb(121 194 243) 26.6%,
    rgb(255 180 239) 80.7%
  );
  z-index: 4;
  left: 200vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: 1s;
}
.left-menu ul {
  display: block;
  flex-direction: column;
  height: auto;
}
.left-menu ul li {
  width: 150px;
  margin: 1rem;
}
.left-menu.is-active {
  left: 25%;
}

.rigth-menu {
  margin: 110px 0 0 0;
  height: auto;
  border-top-left-radius: 0;
}
.rigth-menu ul {
  flex-direction: column;
}
.rigth-menu ul li:last-child {
  position: initial;
}
.rigth-menu.is-active {
  left: 25%;
}

.aside-container.is-active:first-child {
    padding-top: 290px;
    transition: all 1s;
}

/*CARD*/
.card {
    display: grid;
    grid-template: 30px 1fr 50px / 1fr 75px;
    grid-template-areas:
        "title img"
        "information img"
        "button img";
    height: 190px;
    width: 100%;
    padding: 0;
    padding-left: 0.8rem;
    margin: 1rem auto;
    max-width: 319px;
}
.card-image {
    grid-area: img;
}
.card-image
    img {
  width: 75px;
    height: 190px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    overflow: hidden;
}
.card-information
    h2 {
  grid-area: information;
    text-align: center;
    position: relative;
    z-index: 3;
}
.card-information
    p {
  grid-area: title;
    line-height: 22px;
}
.card-information .card-btn {
    grid-area: button;
    border-radius: 15px;
}

/* FOOTER */
.information-links, .social-links {
    flex-direction: column;
}
