/*CARD*/
.card {
    display: grid;
    grid-template: 30px 1fr 50px / 1fr 75px;
    grid-template-areas:
        "title img"
        "information img"
        "button img";
    height: 190px;
    width: 100%;
    padding: 0;
    padding-left: 0.8rem;
    margin: 1rem auto;
    max-width: 319px;
}
.card-image {
    grid-area: img;
}
.card-image
    img {
  width: 75px;
    height: 190px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    overflow: hidden;
}
.card-information
    h2 {
  grid-area: information;
    text-align: center;
    position: relative;
    z-index: 3;
}
.card-information
    p {
  grid-area: title;
    line-height: 22px;
}
.card-information .card-btn {
    grid-area: button;
    border-radius: 15px;
}

/* FOOTER */
.information-links, .social-links {
    flex-direction: column;
}
