.card {
    background-image: linear-gradient( 114.2deg,  rgba(121,194,243,1) 22.6%, rgba(255,180,239,1) 67.7% );
    grid-template: 30px 1fr 50px / 1fr;
    grid-template-areas:
        "title"
        "information"
        "button";
}
.card-image {
    display: none;
}
.footer-container{
    display: block;
    position: initial;
}
.card:last-child{
    margin-bottom: 0;
}