* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

h1 {
    font-size: 3.5rem;
}
p {
    font-size: 1.6rem;
}

li:hover {
    /* border: 1px solid purple; */
    background-color: #f1e4ff;
    transition: all 0.4s linear;
    color: #8C30F5;
}

header {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 75px;
    align-items: center;
    overflow: auto;
}
a {
    text-decoration: none;
    color: black;
}

.left-menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.left-menu ul li {
    display: flex;
    height: 4rem;
    width: 14.2rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.rigth-menu {
    background-color: #18191F;
    height: 7.5rem;
    display: inherit;
    align-items: center;
}
.rigth-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rigth-menu ul li{
    display: flex;
    background-color: #F1E4FF;
    color: #8C30F5;
    height: 4rem;
    width: 14.2rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.rigth-menu ul li:hover {
    box-shadow: -1px 13px #8c30f55e;
    /* color: black; */
    /* background-color: white; */
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.main-description {
    width: 70%;
    margin: 0 auto
}
button {
    background-color: #8c30f55e;
    border-radius: .5rem;
    border-style: solid;
    border: 1px solid #7700ff5e;
}
aside {
    border-top: 1px solid #3e3f49;
    display: flex;
    background-color: #18191F;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    overflow: auto;
    background-image:  url('../captura.png');
    /* background-repeat: no-repeat; */
}

.card {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(4,1fr);
    height: 417px;
    width: 248px;
    position: relative;
    border-radius: 1rem;
    background-color: rgb(246, 246, 246);
    margin: 2rem;
    text-align: center;
    padding-top: 2rem;
}
.card-title {
    font-size: 2rem;
}
.card-image {
    background-color: gray;
    height: 20rem;
    width: 80%;
}
.card-image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    width: 140px;
    height: 48px;
}

footer {
    display: grid;
    position: absolute;
    /* bottom: 0; */
    color: white;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 10.19%;
    background-color: #0B0D17;
    text-align: center;
}

.link-social {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    .main-description{
        display: none;
    }
    aside {
        width: 100vw;
    }
    header {
        grid-template-rows: repeat(2, 1fr);
    }
}