:root {
  --dark-color: #18191f;
  --ligth-color: #fafafa;
  --li-ligth-color: #f1e4ff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: var(--ligth-color);;
}


#burger-menu {
  display: none;
  width: 27px;
  height: 44px;
  background-image: url("../assets/icons/burgerButton.svg");
}

/* .main-left::-webkit-scrollbar,
.aside-container::-webkit-scrollbar {
  width: 0.5rem;
}
.main-left::-webkit-scrollbar-track, .aside-container::-webkit-scrollbar-track {
    margin: 0 0 120px;
}

.main-left::-webkit-scrollbar-thumb,
.aside-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(
    114.2deg,
    rgba(121, 194, 243, 1) 22.6%,
    rgba(255, 180, 239, 1) 67.7%
  );
} */

a {
  text-decoration: none;
}

/*HEADER*/
header {
  /* border: 1px solid #04ee6f; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: minmax(auto, 1440px);
  justify-content: center;
  font-size: 1.6rem;
  z-index: 4;
  background-color: var(--ligth-color);
  /* overflow: auto; */
}

.header-container {
  /* position: fixed; */
  box-shadow: 0px 1px 20px 0px #141514;
}

.navigations {
  display: grid;
  grid-template-columns: 90px repeat(2, 1fr);
  /* box-shadow: 0px 1px 20px 0px #141514; */
  /* border: 1px solid #ee0404; */
  /* grid-template-areas:
        "left-menu right-menu";
    gap: 1rem; */
  /* align-items: center; */
  height: 70px;
}

.logo img {
  width: 5rem;
  height: 70px;
  /* transform: rotate(90deg); */
}
.logo img:hover {
  transform: rotate(281deg);
  transition: all 1s ease-in;
}

ul a li {
  /* width: 150px; */
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.left-menu ul,
.rigth-menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  align-items: center;
  flex-wrap: wrap;
  height: 70px;
}
.left-menu {
  /* border-bottom: 1px solid var(--dark-color);
    border-bottom-left-radius: 2rem; */
}
.left-menu ul li {
  border-radius: 1rem;
  /* color: black; */
  /* color: white; */
  /* border: 1px solid #F1E4FF; */
  font-weight: bold;
  letter-spacing: 1px;
  width: 171px;
  height: 40px;
  border-radius: 1rem;
}

.left-menu ul li:hover {
  color: #6d1a8b;
  background-color: #f1e4ff;
  transition: all 0.2s ease-in;
}

.rigth-menu {
  background-color: var(--dark-color);
  font-weight: 600;
}
.rigth-menu ul li {
  width: 150px;
  height: 40px;
  background-color: var(--li-ligth-color);
  border-radius: 1rem;
}
.rigth-menu .actividad-icon {
  width: 30px;
  height: 30px;
  background-image: url("../assets/icons/activity.svg");
}
.rigth-menu .iniciarSesion-icon {
  width: 30px;
  height: 30px;
  background-image: url("../assets/icons/signIn.svg");
}
.rigth-menu ul li:hover {
    filter: brightness(1.05);
    transition: all .5s;
}

.left-menu ul li a,
.rigth-menu ul li a {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/*MAIN*/
.main-container {
  display: grid;
  grid-template-columns: minmax(auto, 1440px);
  justify-content: center;
  font-size: 1.6rem;
  /* padding-top: 70px; */
}

.main-sides {
  display: grid;
  grid-template-columns: 90px 1fr 1fr;
  grid-template-areas:
    "blankSpace left rigth";
  padding-top: 70px;
}
.main-left {
  overflow: overlay;
  grid-area: left;
  padding: 0 3rem;
  height: 80vh;
}

aside {
  grid-area: rigth;
}
.aside-container {
  background-image: url("../assets/imgs/captura.png");
  grid-area: rigth;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  overflow: overlay;
  /* margin-top: 70px; */
}

.card {
  height: 400px;
  width: 250px;
  /* padding: 10px; */
  margin: 5px;
  background-color: #fff;
  border-radius: 25px;
  text-align: center;
  color: #2c2738;
  padding: 15px;
  position: relative;
  z-index: 0;
}
.card::after {
  background-image: linear-gradient(
    114.2deg,
    rgba(121, 194, 243, 1) 22.6%,
    rgba(255, 180, 239, 1) 67.7%
  );
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: opacity 1s ease-out;
  /* z-index: 1; */
  opacity: 0;
}
.card:hover::after {
  opacity: 1;
}
.card-image img {
  width: 215px;
  height: 185px;
  border-radius: 25px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.card-information {
  text-align: left;
  position: relative;
  z-index: 3;
}
.card-information p {
  line-height: 22px;
}

.card-information button {
  width: 140px;
  height: 48px;
  background-color: #fafafa7c;
  color: #7c9cbf;
  border: 1px solid #7c9cbf;
  border-radius: 1rem;
  outline: none;
}
.card:last-child {
  margin-bottom: 200px;
}

.card-information button:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: all 0.2s;
}

/* FOOTER */
/*FOOTER*/
.footer-container {
  background-color: #0b0d17;
  color: white;
  /* height: 200px; */
  display: grid;
  grid-template-columns: minmax(auto, 1110px);
  justify-content: center;
  font-size: 1.6rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-information {
  /* border: 1px solid red; */
  text-align: center;
  overflow: auto;
}
.footer-information a {
  color: white;
  margin: 0 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer-information a:hover {
  background-color: gray;
  transition: all 1s;
}

.information-links {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}

/* MODAL CONTAINER*/
.modal--container {
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.363);
  display: flex;
}
.modal--container::before {
  content: "X";
  position: absolute;
  margin: 5rem 5rem 0 0;
  top: 0;
  right: 0;
  opacity: .5;
  font-size: 5rem;
}
.content--modal {
  margin: auto;
}

/* MODAL INICIAR SESION */
.iniciarSesion__information--container{
  border-radius: 15px;
  background: var(--ligth-color);
  transition: 1s;
  margin: 19px;
  display: flex;
  flex-direction: column;
  max-width: 460px;
  padding: 30px;
  font-size: 1.6rem;
  }
.iniciarSesion__information--container h2{
  font-size: 4rem;
  color: var(--dark-color);
}
.iniciarSesion__information--container p{
  margin-bottom: 10px;
}
#correo, #password, .iniciarSesion__information--container label button {
  color: var(--dark-color);
  height: 52px;
  width: 100%;
  font-size: 2rem;
  outline: none;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px solid gray;
}
#correo:hover, #password:hover, .iniciarSesion__information--container label button:hover{
  box-shadow: inset 0 0 4px #8c30f5;
}
.iniciarSesion__information--container label button {
  color: #8c30f5;
  background-color: var(--li-ligth-color);
}
.iniciarSesion__information--container label button:active {
  transform: scale(0.8);
  transition: all 0.2s;
}