* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --primary-color: #18191f;
    --ligth-color: #F1E4FF;
}
html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

/*HEADER*/
header {
    border: 1px solid #04ee6f;
}
.header-container {
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
    display: grid;
    grid-template-columns: minmax(auto,  1440px);
    justify-content: center;
    font-size: 1.6rem;
    /*     position: fixed; */
}

.navigations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ee0404;
    /* grid-template-areas:
        "left-menu right-menu";
    gap: 1rem; */
/*     align-items: center; */
/*     height: 70px; */
}

.logo img{
    width: 5rem;
    transform: rotate(79deg);
}
.logo img:hover {
    transform: rotate(281deg);
    transition: all 1s ease-in;
}


ul a li {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.left-menu ul, .rigth-menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    align-items:center;
    height: 70px;
}
.left-menu ul li{
    border-radius: 1rem;
    color: black;
}
.left-menu ul li:hover {
    background-color: #F1E4FF;
    transition: all .5s ease-in;
}

.rigth-menu {
    background-color: var(--primary-color);
    font-weight: 600;
}
.rigth-menu ul a li{
    background-color: var(--ligth-color);
    border-radius: 1rem;
}

/*MAIN*/

.main-container {
    display: grid;
    grid-template-columns: minmax(auto,  1440px);
    justify-content: center;
    font-size: 1.6rem;
    /* padding-top: 70px; */
}

.main-sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ee0404;
    height: 80vh;
}
.main-left {
    overflow: overlay;
    padding: 0 3rem;
}

.aside-container {
    background-image: url('../captura.png');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    overflow: overlay;
}

.card {
    height: 400px;
    width: 250px;
    padding: 10px;
    margin: 15px;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    color: #2C2738;
    padding: 15px;
}
.card-image img {
    width: 215px;
    height: 185px;
    border-radius: 25px;
    object-fit: cover;
}
.card-information {
    text-align: left;
}
.card-information p {
    line-height: 22px;
}

.card-information button {
    width: 140px;
    height: 48px;
    background-color: transparent;
    color: #7C9CBF;
    border: 1px solid #7C9CBF;
    border-radius: 1rem;
}

/* FOOTER */
/*FOOTER*/
.footer-container {
    background-color: #0B0D17;
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: minmax(auto,  1110px);
    justify-content: center;
    font-size: 1.6rem;
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; */
}

.footer-information {
    /* border: 1px solid red; */
    text-align: center;
}
.footer-information a {
    color: white;
    margin: 0 20px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}
.footer-information a:hover {
    background-color: gray;
    transition: all 1s ;
}

.information-links {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #2C2738;
    padding: 15px;
}

//MEDIAQUERIES
@media screen and (max-width:767px){
    .navigations {
        grid-template: 1fr 1fr / 1fr;
        grid-column: auto;
    }
    .main-left {
        display: none;
    }
    .aside-container {
        width: 100vw;
    }
}