/*MAIN*/
.main-container {
  display: grid;
  grid-template-columns: minmax(auto, 1440px);
  justify-content: center;
  font-size: 1.6rem;
  /* padding-top: 70px; */
}

.main-sides {
  display: grid;
  grid-template-columns: 90px 1fr 1fr;
  grid-template-areas: "blankSpace left rigth";
  padding-top: 70px;
}
.main-left {
  overflow: overlay;
  grid-area: left;
  padding: 0 3rem;
  height: calc(100vh - 70px - 61px);
  display: flex;
  align-content: center;
  border-right: 1px solid gray;
  /* margin: auto; */
}
.main-left-information {
  margin: auto;
  font-size: 2rem;
}
.main-left-information .isologo--left{
  text-align: center;
}

aside {
  grid-area: rigth;
}
.aside-container {
  /* background-image: url("../assets/imgs/captura.png"); */
  background-color: var(--dark-color);
  grid-area: rigth;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 70px - 61px);
  overflow: overlay;
  /* margin-top: 70px; */
}

.card {
  height: 400px;
  width: 250px;
  /* overflow: inherit; */
  /* padding: 10px; */
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 25px;
  text-align: center;
  color: var(--ligth-color);
  padding: 15px;
  position: relative;
  z-index: 0;
}
.card::after {
  background-image: var(--gradient-primary);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: opacity 1s ease-out;
  /* z-index: 1; */
  opacity: 0;
}
.card:hover::after {
  opacity: 1;
}
.card-image img {
  width: 215px;
  height: 185px;
  border-radius: 25px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.card-information {
  text-align: left;
  position: relative;
  z-index: 3;
}
.card-information .title {
  max-height: 32.22px;
  overflow: auto;
}
.card-information p {
  line-height: 22px;
  max-height: 110px;
  overflow: auto;

}

.card-information button {
  width: 140px;
  height: 48px;
  background-color: #fafafa7c;
  color: var(--ligth-color);
  border: 1px solid #7c9cbf;
  border-radius: 1rem;
  outline: none;
}
.card:last-child {
  margin-bottom: 200px;
}

.card-information button:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: all 0.2s;
}

/* FOOTER */

/* MODAL INICIAR SESION */
.iniciarSesion__information--container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  font-size: 1.7rem;
  /* border-radius: 15px; */
  /* margin: 19px; */
  /* max-width: 400px; */
  /* padding: 30px; */
  /* font-size: 1.7rem; */
  /* background: #fff; */
  transition: 1s;
}
.iniciarSesion__information--container h1 {
  font-size: 3.5rem;
}
.iniciarSesion__information--container p {
  margin-bottom: 15px;
}
.iniciarSesion__information--container h2 {
  font-size: 4rem;
  color: #000;
}
h5 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #757381;
}

#correo,
#password,
.iniciarSesion__information--container button,
#agendarEvento label button,
#eventDescription,
#eventTittle--container,
.email--container,
.password--container {
  color: #757381;
  height: 52px;
  width: 100%;
  font-size: 2rem;
  outline: none;
  border: none;
  margin-bottom: 30px;
  background-color: transparent;
  border-radius: 5px;
}
.email--container,
.password--container,
#eventDescription,
#eventTittle--container {
  display: flex;
  border: 1px solid #706c7a;
  border-radius: 5px;
  height: 54px;
}
#password {
  border: none;
  background-color: transparent;
}
#showPassword--btn {
  outline: none;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 33px;
  margin: auto;
  background-image: url('../assets/icons/eye.svg');
  background-repeat: no-repeat;
  filter: opacity(.5);
}

.email--container:hover,
.password--container:hover,
.iniciarSesion__information--container label button:hover, 
#agendarEvento label button:hover,
#eventDescription:hover,
#eventTittle--container:hover {
  box-shadow: 0 0 4px #8c30f5;
}
.iniciarSesion__information--container label button, #agendarEvento label button {
  background-color: #8c30f5;
  color: #eff0ff;
}
#showPassword--btn:active, .iniciarSesion__information--container label button:active, #agendarEvento label button:active {
  transform: scale(0.8);
  transition: all 0.2s;
}


/* MODAL AGENDAR EVENTO*/
.agendarEvento--container {
  font-size: 1.7rem;
}
#agendarEvento {
  display: flex;
  flex-direction: column;
}
#eventDescription {
  max-width: 500px;
  min-height: 100px;
  max-height: 250px;
  font-family: "IBM Plex Sans", sans-serif;
}