.header-container {
  position: fixed;
  box-shadow: 0px 1px 20px black;
}
#burger-menu {
  display: block;
}
.burger-button {
  display: block;
  right: 0;
  text-align: center;
  position: fixed;
  z-index: 5;
  margin: 20px 5px;
  transition: 1s;
}
.burger-button.is-active {
  transform: rotate(359.9deg);
  transition: 1s;
}

.navigations {
  grid-template-columns: 90px 1fr;
  background-color: var(--ligth-color);
}

.left-menu {
  width: 100vw;
  height: auto;
}
.left-menu ul {
  justify-content: initial;
}
.left-menu.is-active ul {
  z-index: 3;
  top: 0;
  transition: 1s;
  width: 100vw;
}

.rigth-menu {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  position: fixed;
  background-image: linear-gradient(
    114.2deg,
    rgb(121 194 243) 22.6%,
    rgb(255 180 239) 67.7%
  );
  z-index: 3;
  left: 200vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 90px;
  height: 70px;
  transition: 1s;
}
.rigth-menu.is-active {
  left: 0;
}
.rigth-menu ul {
  flex-wrap: wrap;
  height: auto;
  margin-left: 3;
}
.rigth-menu ul li {
  margin: 1rem;
}
.rigth-menu ul li:last-child {
  position: fixed;
  right: 3.5rem;
  z-index: 4;
  margin: 0 1rem;
}

/* MAIN */
.main-left {
  display: none;
}
.main-sides {
  height: auto;
  grid-template-columns: 1fr;
  padding-top: 0;
}
.aside-container {
  width: 100vw;
  height: 100%;
  margin-top: 0;
  overflow: overlay;
  padding-top: 70px;
  transition: all 0.5s;
  background-color: var(--ligth-color);
  background-image: url(../);
}
.aside-container.is-active:first-child {
  transition: all 0.5s;
}

.card:last-child {
  margin-bottom: 15px;
}
.footer-container {
  position: initial;
}

.footer-information a {
  border-radius: 10px;
}

/* @media screen and (max-width: 320px) {
  .aside-container.is-active:first-child {
    padding-top: 250px;
    transition: all 1s;
  }
} */

.iniciarSesion__content--modal {
  width: 90%;
}