
/* MAIN */
.main-left {
  display: none;
}
.main-sides {
  height: auto;
  grid-template-columns: 1fr;
  padding-top: 0;
}
.aside-container {
  width: 100vw;
  height: 100%;
  margin-top: 0;
  overflow: overlay;
  padding-top: 70px;
  transition: all 0.5s;
  background-color: var(--ligth-color);
  background-image: url(../);
}
.aside-container.is-active:first-child {
  transition: all 0.5s;
}

.card:last-child {
  margin-bottom: 15px;
}
.footer-container {
  position: initial;
}

.footer-information a {
  border-radius: 10px;
}

/* @media screen and (max-width: 320px) {
  .aside-container.is-active:first-child {
    padding-top: 250px;
    transition: all 1s;
  }
} */

.iniciarSesion__content--modal {
  width: 90%;
}